<div class="box" id="left-box">
  <button type="button" class="home" aria-label="Home">
    <i class="fas fa-home"></i>
  </button>
  <div class="polaroid" id="main-picture">
    <img class="pol-img-top" src="casino-billboard.png" alt="Card image cap">
    <div class="pol-body">
      <div class="pol-text">
        <h5 class="pol-title">Casino X</h5>
        <h6 class="pol-subtitle">&#9733 &#9733 &#9733 &#9733</h6>
      </div>
      <button id="favourite-button"><i class="far fa-heart"></i>
        <button id="share-button"><i class="fas fa-share-square"></i>
        </button>
    </div>
  </div>
  <div class="vertical-buttons">
    <button type="button" class="btn btn-secondary btn-circle btn-xl" id="call-button"><i class="fas fa-phone"></i></button>
    <label>Call</label>
    <button type="button" class="btn btn-secondary btn-circle btn-xl" id="map-button"><i class="fas fa-map-marker-alt"></i></button>
    <label>Map</label>
    <!-- <button type="button" class="btn btn-secondary btn-circle btn-xl" id="web-button"><i class="fas fa-globe-americas"></i></button> -->
  </div>
</div>

<div class="box" id="center-box">
  <div id="center-box-left">
    <h1 class="center-box-title"></h1>
    <h2 class="center-box-subtitle"></h2>
    <div class="center-box-data"></div>
  </div>
  <div class="center-box-images"></div>
</div>

<!-- <div class="box" id="right-box">
        <h1 class="right-box-title">Similar</h1>
        <ul>
          <li><img src="">RestaurantZ</li>
          <li><img src="">RestaurantA</li>
          <li><img src="">RestaurantB</li>
        </ul>
      </div> -->