<div class="box" id="call-left-box">
  <div class="polaroid" id="main-picture">
    <img class="pol-img-top" src="casino-billboard.png" alt="Card image cap">
    <div class="pol-body">
      <div class="pol-text">
        <h5 class="pol-title">Casino X</h5>
        <h6 class="pol-subtitle">&#9733 &#9733 &#9733 &#9733</h6>
      </div>
      <button id="favourite-button"><i class="far fa-heart"></i>
        <button id="share-button"><i class="fas fa-share-square"></i>
        </button>
    </div>
  </div>
  <div class="vertical-call-menu">
    <h1>Calling</h1>
    <h2 id="call_time">00:00</h2>
    <button type="button" class="btn btn-secondary btn-circle btn-xl" id="end-call-button"><i class="fas fa-phone"></i></button>
  </div>
</div>

<div class="box" id="call-center-box">
  <div id="center-box-left">
    <h1 class="center-box-title"></h1>
    <h2 class="center-box-subtitle"></h2>
    <div class="center-box-data"></div>
  </div>
  <div class="center-box-images"></div>
</div>

<!-- <div class="box" id="right-box">
        <h1 class="right-box-title">Similar</h1>
        <ul>
          <li><img src="">RestaurantZ</li>
          <li><img src="">RestaurantA</li>
          <li><img src="">RestaurantB</li>
        </ul>
      </div> -->