<div class="box" id="call-left-box">
  <button type="button" class="home" aria-label="Home">
    <i class="fas fa-home"></i>
  </button>
  <div class="polaroid" id="main-picture">
    <img class="pol-img-top" src="casino-billboard.png" alt="Card image cap">
    <div class="pol-body">
      <div class="pol-text">
        <h5 class="pol-title"></h5>
        <h6 class="pol-subtitle"></h6>
      </div>
      <button id="favourite-button"><i class="far fa-heart"></i>
        <button id="share-button"><i class="fas fa-share-square"></i>
        </button>
    </div>
  </div>
  <div class="vertical-navigation-menu">
    <button type="button" class="btn btn-secondary btn-circle btn-xl" id="start-navigation-button"><i class="fas fa-location-arrow"></i></button>
    <label>New Destination</label>
    <button type="button" class="btn btn-secondary btn-circle btn-xl" id="add-navigation-button"><i class="fas fa-plus"></i><i
        class="fas fa-location-arrow"></i></button>
    <label>Add Waypoint</label>
  </div>
</div>

<div class="box" id="call-center-box">
    <div class="navigation-dialog">
</div>