<div class="box" id="home-left-box">
    <div class="home-vertical-buttons">
        <button id="nav-all-button"><i class="fas fa-th"></i>All</button>
        <button id="nav-favourites-button"><i class="fas fa-heart"></i>Favorites</button>
        <button id="nav-pois-button"><i class="fab fa-searchengin"></i>POI</button>
    </div>
</div>

<div class="box" id="home-center-box">
</div>