<div class="box" id="left-box">
    <div class="polaroid" id="main-picture">
      <img class="pol-img-top" src="casino-billboard.png" alt="Card image cap">
      <div class="pol-body">
        <h5 class="pol-title">Casino X</h5>
        <h6 class="pol-subtitle">&#9733 &#9733 &#9733 &#9733</h6>
        <button id="favourite-button"><i class="far fa-heart"></i>
          <button id="share-button"><i class="fas fa-share-square"></i>
          </button>
      </div>
    </div>
    <div class="vertical-buttons">
      <h1 id="web-title">Web</h1>
      <i id="web-icon" class="fas fa-globe-americas"></i>
    </div>
  </div>

  <div class="box" id="center-box">
      <button type="button" class="back">
          <i class="fas fa-chevron-circle-left"></i>
      </button>
    <button type="button" class="close" aria-label="Close">
      <i class="fas fa-times-circle"></i>
    </button>
    <h1 class="center-box-title">RestaurantXY</h1>
    <h2 class="center-box-subtitle">&#9733 &#9733 &#9733 &#9733</h2>
    <ul class="center-box-data">
      <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore
        et</li>
      <li>dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet</li>
      <li>clita kasd gubergren, no sea takimata sanctus est</li>
    </ul>
    <img src="">
    <img src="">
    <img src="">
  </div>

  <div class="box" id="right-box">
    <h1 class="right-box-title">Similar</h1>
    <ul>
      <li><img src="">RestaurantZ</li>
      <li><img src="">RestaurantA</li>
      <li><img src="">RestaurantB</li>
    </ul>
  </div>