.container{
    display: none;
    transition: all 1s ease-out;
}
#window {
    position: absolute;
    height: 600px;
    left: 66px;
    pointer-events: none;
    z-index: 13;
    user-select: none;
    -webkit-tap-highlight-color:transparent;
    pointer-events: none;
}

#canvas {
    position: absolute;
    top: -500px;
    left: 50px;
    opacity: 1;
    z-index: 11;
    border: dashed;
    border-radius: 20px;
}

#frame_back {
    position: absolute;
    top: -500px;
    opacity: 0.7;
    z-index: 10;
    border-radius: 20px;
}

#slider_value {
    position: absolute;
    top: -600px;
    opacity: 1;
    z-index: 12;
    transform: scale(1.8);
}

.fa-forward {
    position: absolute;
    top: -600px;
    opacity: 1;
    z-index: 12;
}

.fa-backward {
    position: absolute;
    top: -600px;
    opacity: 1;
    z-index: 12;
}


#seekVideo {
    position: absolute;
    z-index:12;
    top: -500px;
    opacity: 1;
}

#video{
    z-index: 9;
}

.box {
    width: 100%;
    height: 250px;
}

.container {
    position: absolute;
    top: 355px;
    transform: scale(0.5,0.5);
    left: 4%;
}

#bounding-box {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    opacity: 0.5;
}

#left-box {
    float: left;
    width: 30%;
    border: 5px solid;
}
#right-box {
    float: left;
    width: 30%;
    border-top-right-radius: 20px;
}

#center-box {
    float: left;
    width: 70%;
    border-right: 5px solid;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-top-right-radius: 20px;
}

#call-left-box {
    float: left;
    width: 35%;
    border: 5px solid;
}

#call-center-box {
    float: left;
    width: 65%;
    border-right: 5px solid;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-top-right-radius: 20px;
}

#home-left-box {
    float: left;
    width: 10%;
    border-top-left-radius: 20px;
    border: 5px solid;
}

#home-center-box {
    float: left;
    width: 90%;
    height: 100%;
    overflow-y: scroll;
    border-right: 5px solid;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-top-right-radius: 20px;
}

.vertical-buttons{
    position: relative;
    float: right;
    top: -107%;
    left: -21px;
}

.home-vertical-buttons {
    position: relative;
    float: left;
    left: 25px;
    font-size: 2.5em;
}

.vertical-buttons button {
    display: block;
    margin-top: 10px;
}

.vertical-buttons label {
    font-size: 30px !important;
    position: relative;
}

.home-vertical-buttons button{
    display: block;
    position: relative;
    top: 7px;
    margin-top: 35px;
    border: none;
    background-color: transparent;
    color: grey;
    font-size: 27px;
}

.home-vertical-buttons button i {
    position: absolute;
    font-size: 40px;
    margin-top: -35px;
}

button#nav-favourites-button {
    font-size: 20px;
    position: relative;
    left: -23px;
    padding-bottom: 8px;
    padding-top: 8px;
}

button#nav-favourites-button i {
    position: absolute;
    left: 27px;
}

button#nav-all-button i {
    left: 2px;
}

button#nav-all-button {
    left: 1px;
}

#main-picture {
    margin: 20px;
}

.btn-circle.btn-xl {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.polaroid {
    border: 1px solid darkgrey;
    background-color: white;
    padding: 15px 15px 60px 15px;
    box-shadow: 5px 10px 10px darkgrey;
    width: 185px;
    height: 220px;
    border-radius: 10px;
    position: relative;
    left: 10px;
    bottom: 10px;
}

.pol-img-top {
    width: 150px;
    height: 150px;
    object-fit: scale-down;
    border-radius: 10px;
    position: relative;
    top: -5px;
}

.pol-title {
    text-align: center;
    padding: 2px;
}

.pol-subtitle {
    text-align: center;
    position: relative;
    top: -10px;
}

.pol-text {
    float: right;
    width: 70%;
}

#favourite-button {
    position: relative;
    top: -3px;
    border: none;
    font-size: 30px;
    background-color: transparent;
    float: left;
    width: 30%;
}
.home-fav-button {
    position: relative;
    top: -3px;
    border: none;
    font-size: 30px;
    background-color: transparent;
    float: left;
    width: 30%;
}

#share-button {
    position: relative;
    top: -62px;
    left: 78px;
    border: none;
    font-size: 30px;
    background-color: transparent;
    display: none;
}

.center-box-title {
    text-align: center;
}
.right-box-title {
    text-align: center;
}
.center-box-subtitle {
    text-align: center;
    position: relative;
    top: -13px;
}
.center-box-data {
    text-align: center;
    font-size: 25px;
    position: relative;
    top: -10px;
}

.vertical-call-menu {
    width: 40%;
    position: relative;
    display: block;
    top: -260px;
    text-align: center;
    float: right;
}

.vertical-call-menu h2 {
    position: relative;
    top: 30px;
}

#end-call-button {
    position: relative;
    top: 60px;
    transform: rotate(-135deg);
}

.vertical-navigation-menu {
    position: relative;
    display: block;
    top: -260px;
    left: -5px;
    text-align: center;
    width: 40%;
    float: right;
}
.vertical-navigation-menu label {
    font-size: 19px;
    font-weight: 700;
}

.vertical-navigation-menu button {
    margin: 10px;
    top: 5px;
    position: relative;
}

#start-navigation-button {
    transform: rotate(-45deg);
}

#add-navigation-button .fa-plus {
    position: relative;
    top: -12px;
    left: -8px;
    transform: scale(0.8,0.8);
}
#add-navigation-button .fa-location-arrow {
    transform: rotate(-45deg);
    position: relative;
    left: -19px;
    top: 5px;
}
.back {
    position: absolute;
    float: left;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .8;
    background-color: transparent;
    border: none;
    margin-top: 3px;
    margin-left: -2px;
    font-size: 40px;
}
.home {
    position: absolute;
    font-size: 40px;
    border: 5px solid;
    border-radius: 5px;
    border-top-left-radius: 20px;
    left: -50px;
    top: 30px;
    opacity: 0.8;
}

#web-title{
    position: relative;
    left: 8px;
}

#web-icon{
    font-size: 3em;
    position: relative;
    left: 26px;
    top: 5px;
}
#home-center-box .polaroid {
    transform: scale(0.9,0.9);
    display: inline-block;
    position: relative;
    top: 8px;
    left: 17px;
    margin-right: 8px;
}
#canvas_orig {
    position: relative;
    top: -1606px;
    left: 66px;
    z-index: -10;
}
.buttons_image{
    position: absolute;
    top: 510px;
    left: 400px;
    opacity: 0.5;
    font-size: 30px;
    z-index: 12;
    display:none;
}

.buttons_image button{
    border-radius: 5px;
}

#cancel_image{
    display: none;
}

#info {
    position: absolute;
    top: 510px;
    left: 435px;
    opacity: 0.8;
    z-index: 12;
    font-size: 30px;
}

.detail {
    width: 150px;
    object-fit: contain;
    border-width: 3px;
    margin-top: 20px;
    margin-right: 5px;
    position: relative;
    top: -16px;
    border: 2px solid;
    border-radius: 10px;
    position: relative;
    left: 30px;
}

.center-box-images {
    float: right;
    width: 30%;
}

#center-box-left {
    float: left;
    width: 70%;
}
.selected {
    color: black !important;
}
button:focus,buttonn:active {
    outline: none !important;
    box-shadow: none !important;
 }
 
 .map{
     width: 100%;
 }

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 20px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

html, body {
    margin: 0; height: 100%;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ShowHideHandle {
    width: 50px;
    height: 30px;
    top: -1px;
    position: relative;
    left: 520px;
    border: 4px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: lightgrey;
    opacity: 0.5;
    text-align: center;
    font-size: 30px;
    transform: scale(1.5);
}

.ShowHideHandle i {
    position: relative;
    top: -11px;
}

.hideUI{
    top: 362px;
    transform: scale(1.5);
}
.navigation-dialog {
    display:none;
    position: absolute;
    left: 530px;
    top: 100px;
    width: 40%;
    height: 45%;
    text-align: center;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
}

#move-canvas-handle {
    position: absolute;
    left: 50px;
    top: -500px;
    width: 370px;
    height: 370px;
    z-index: 10;
}
 



